body{
    margin: 0;
   background: linear-gradient(#9BABB8,#EEE3CB,#D7C0AE,#967E76);
   
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff10;
    border: solid 2px #ffffff30;
    border-radius: 20px;

    
    
}

header h1{
    border-bottom: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
}

header img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px black;

}


.objetivo{
    width: 50%;

}

.formacao{
    width: 50%;
}

main{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    background: #ffffff10;
    border: solid 2px #ffffff30;
    border-radius: 20px;
    
}

ul{
    list-style-type: none;
}





aside{
    margin-top: 0.5rem;
    display: flex;
    justify-content:space-between;
    background: #ffffff10;
    border: solid 2px #ffffff30;
    border-radius: 20px;
}

.exp{
    width: 50%;
}

.habilidade{
    width: 50%;
}

footer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff10;
    border: solid 2px #ffffff30;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.contato{
    width: 50%;
}


.contato a{
    background: #967E76;
    border-radius: 10px;
    padding: 2px;
    margin-top: 10px;

    display: flex;
    

}

.contato a:hover{
    background-color: #9BABB8;
}



.rede{
    width: 50%;

    
}

.rede a{
    
    background: #967E76;
    border-radius: 10px;
    padding: 2px;
    margin-top: 10px;
    width: 19rem;
    height: 1.5rem;
    display: flex;
}

.rede a:hover{
    background-color: #9BABB8;
}




